/* Universal Selector */
/* *{
    color: orange;
    font-size: 20px;
} */

/* Tag Selector or element selector */
h1{
    color: blueviolet;
    text-align: center;
    margin: 50px 0px;
}

/* Attributes Selector */
/* a[title="google"]{
    color: aqua;
    letter-spacing: 10px;s
} */

/* ID Selector */

#idOne{
    color: brown;
}

/* Class Selector */
.classOne{
    color: red;
    line-height: 30px;
    text-indent: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
}

/* Descendant Selector */
.desc a{
    color: blue;
    text-decoration: none;
}

.child > a{
    color: green;
}

/* pseudo selector */
/* link */
a:link{
    color: chartreuse;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: yellow;
}

a:visited{
    color: brown;
}

/* Target */

/* :target{
    color: orange;
    border: 2px solid black;
} */

p:target{
    color: red;
    border: 2px solid black;
}

/* border */
.borderone{
    border: 8px dashed yellowgreen;
}

.bordertwo{
    border-left: 10px solid orange;
}

.bordersizeone{
    border-style: solid;
    /* border-width: 10px; */
    /* T R B L */
    /* border-width: 10px 100px; */
    /* T&B L&R */
    /* border-width: 10px 50px 100px; */
    /* T  L&R  B */
    border-width: 1px 5px 10px 15px;
    /* T R B L */
}

.borderstyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}

.margin{
    border: 1px solid black;
    /* margin: 100px; */
    margin: 50px 20px;
    /* margin-left: 200px; */
}

.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 20px;
}

.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

/* float lesson */

.float_left img{
    width: 40%;
    float: left;
}

.clear{
    clear: both;
}

.float_right img{
    width: 40%;
    float: right;
}

/* Grid */

.gridOne div,.gridTwo div,.gridThree div,.gridFour div,.gridFive div,.gridSix div{
    padding: 20px;
    color: white;
    text-align: center;
}

.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridTwo{
    grid-column-gap: 50px;
}

.gridThree{
    grid-row-gap: 30px;
}

.gridFour{
    grid-gap: 50px;
    /* grid-row-gap: 40px; */
    /* grid-column-gap: 20px; */
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
