#mybody{
    background-color: cornflowerblue;
}
.heading{
    text-align: center;
    color: yellowgreen;
}
#myform{
    width: 40%;
    margin: auto;
}

input[type="text"]{
    width: 100%;
    height: 35px;
}