#mybody{
    background-color: cornflowerblue;
}
.heading{
    text-align: center;
    color: yellowgreen;
}
#myform{
    width: 40%;
    margin: auto;
}

input[type="text"]{
    width: 100%;
    height: 35px;
}

input[type="text"],input[type="email"],input[type="date"],input[type="number"],#education{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 10px;
}

input[type="text"],input[type="email"],input[type="date"],input[type="number"]:focus,#education:focus{
    border: 4px solid gray;
}

input[type="radio"]:checked + label{
    color: red;
    letter-spacing: 10px;
}

input[type="checkbox"]:enabled + label{
    color: red;
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    color: green;
    font-style: normal;
}

input[type="checkbox"]:disabled + label{
    color: gray;
}

ul li:first-child{
    background-color: red;
}

ul li:last-child{
    background-color: yellow;
}

ul li:nth-child(3){
    background-color: green;
}

p:empty{
    height: 20px;
    background-color: black;
}

.register_btn{
    width: 150px;
    height: 43px;
    border-radius: 5px;
}

.register_btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}